OAuth 2: Client Credential Grant process responds HTTP 500 if no scope is supplied

## Actual Request
```
POST /api/oauth2/token HTTP/1.1
Content-Type: application/x-www-form-urlencoded
Authorization: Basic [REDACTED]
Accept: */*
User-Agent: Example (https://example.com/, 0.1)
Host: discord.com
Content-Length: 29

grant_type=client_credentials
```

## Expected Response
HTTP 200 with access token object

## Actual Response
```
HTTP/1.1 500 Internal Server Error
Date: Mon, 07 Sep 2020 05:25:29 GMT
Content-Type: application/json
Content-Length: 52
Connection: keep-alive
Set-Cookie: __cfduid=da49831b721aa89ecb26628acc109a5d81599456328; expires=Wed, 07-Oct-20 05:25:28 GMT; path=/; domain=.discord.com; HttpOnly; SameSite=Lax; Secure
x-envoy-upstream-service-time: 21
Via: 1.1 google
CF-Cache-Status: DYNAMIC
cf-request-id: 05089fd4d90000fe1c9a3c2200000001
Expect-CT: max-age=604800, report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"
Strict-Transport-Security: max-age=31536000; includeSubDomains; preload
X-Content-Type-Options: nosniff
Server: cloudflare
CF-RAY: 5cee0267ce3bfe1c-DTW

{"message": "500: Internal Server Error", "code": 0}
```

## Suggested Solutions
1. Fix the endpoint so it returns access token even if no scope was supplied, OR
2. Make the [API document](https://discord.com/developers/docs/topics/oauth2#client-credentials-grant) to state "*one should specify at least one scope*" and make the endpoint to return HTTP 4xx when no scope was supplied.

## Additional Comment
Per the conversation in Discord API server's #api channel, at least one scope MUST be supplied in order to get an access token. However, the [RFC 6749 section 4.4.2](https://tools.ietf.org/html/rfc6749#section-4.4.2) states that scopes are optional, and Discord's [API document](https://discord.com/developers/docs/topics/oauth2#client-credentials-grant) currently states: "I ***can*** specify scopes," which implies scopes being optional.

If Discord OAuth 2 token exchange endpoint really wanted at least one scope to be supplied, it should have returned HTTP 400 or any 4xx code and have the document to state this.

MWC is available [here](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=e12169215c3ddece85c22cd90521ee4f) but it fails to compile at the moment. u_u

## Working Case
When at least one scope is supplied...

### Request
```
POST /api/oauth2/token HTTP/1.1
Content-Type: application/x-www-form-urlencoded
Authorization: Basic [REDACTED]
Accept: */*
User-Agent: Example (https://example.com/, 0.1)
Host: discord.com
Content-Length: 44

grant_type=client_credentials&scope=identify
```

### Response
```
HTTP/1.1 200 OK
Date: Mon, 07 Sep 2020 06:13:38 GMT
Content-Type: application/json
Transfer-Encoding: chunked
Connection: keep-alive
Set-Cookie: __cfduid=d950b55381637c22c849f4903891e6ee71599459218; expires=Wed, 07-Oct-20 06:13:38 GMT; path=/; domain=.discord.com; HttpOnly; SameSite=Lax; Secure
cache-control: no-store
pragma: no-cache
strict-transport-security: max-age=31536000; includeSubDomains; preload
x-envoy-upstream-service-time: 71
Via: 1.1 google
CF-Cache-Status: DYNAMIC
cf-request-id: 0508cbebe10000fdfef4b08200000001
Expect-CT: max-age=604800, report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"
X-Content-Type-Options: nosniff
Server: cloudflare
CF-RAY: 5cee48f308e8fdfe-DTW

75
{"access_token": "[REDACTED]", "expires_in": 604800, "scope": "identify", "token_type": "Bearer"}
```

This will return a proper bad request error in the next API deploy.

discord The account was used in when I linked github for ish app

@Kapp1 then be more careful with your apps and not have them spam random comments in a issue