Oauth2 token revoke fields naming & details

**Description**
I was making Oauth2 login with Discord to my website and was at the stage when I needed to make "Log out". So I tried many things, I looked through many examples on web but non of them seems to be working correct.
So the issue is following: documentation have 0 commentary/examples or descriptions about how token revoke request should be formed. The most annoying part was debugging whole thing and trying different ways to send payloads, headers and tweaking a lot of unnecessary stuff when one of fields was not named correctly.
In details: after redirecting user to "allow access" page to generate **access_token** (literally field returned in json) I (personally) was expecting to send same "access_token" field to revoke endpoint, however it is named just "token".

**Expected Behavior**
Field names should be consistent through all endpoints and if changed there should be at least mention about it.
Also will be nice to actually provide incorrect field name or some notice about error except sending json with only error name. (In this case it was `{"error": "invalid_request"}` without any additional information. Error code page does not helping in this case)

**Current Behavior**
To revoke "**access_token**" you need to send it in field called "token" instead of "access_token". It is not clear what token should be sent.

P.S. I was using PHP and curl, maybe that's the reason it took me more than 3hrs to debug this but I prefer to not believe this.

I believe this is in the linked RFCs which Discord's docs say you should read if you are implementing oauth2 without a library

This is correct. See [RFC 7009 Section 2.1](https://tools.ietf.org/html/rfc7009#section-2.1):

> token   REQUIRED.  The token that the client wants to get revoked.

OAuth2 is a defined standard; this isn’t in Discord’s control.

To add to the responses above, other endpoints only allow for the use of one type of token: either an access token, or a refresh token; so the parameters are named accordingly to make it easier to understand.

However, the token revocation endpoint can take any type of token -- in this case, both access tokens and refresh tokens -- so "token" is used as a catch-all here.

Anyways, even if it catches all cases it should be mentioned. At least something should be said about it, just doubling RFC will be fine or providing link to it. I was reading whole RFC that mentioned CarsonHoffman but somehow missed that section... It took good 3-4 hrs of my life for it.

> Anyways, even if it catches all cases it should be mentioned. At least something should be said about it, just doubling RFC will be fine or providing link to it. I was reading whole RFC that mentioned CarsonHoffman but somehow missed that section... It took good 3-4 hrs of my life for it.

It took several hours from me as well, There should be either a clarification in Discord API docs, or a change in the API that accepts access_token and assumes that the `token_type_hint` is an `access_token` and not an `refresh_token`.

Anyways, a note in the docs is the best option in my opinion.

Honestly, I'd be okay with making the RFC a bit more prominent. We could make a new "Token Revocation" header, linking to the RFC ("See RFC 7009"), and maybe even explain how the endpoint works (like we do with the other endpoints).

I *wouldn't* be okay with adding a new parameter, though -- that's just added complexity where we don't need it.

My final opinion about this after implementing Oauth2 in raw php: docs should at least hint field names (ex you should supply: token, client_blah...). In current state there is only 1 mention of "revoke" on page and it is endpoint link.

> there is only 1 mention of "revoke" on page

yes, and that one mention links to the RFC you should have read? I don't see the issue

![image](https://user-images.githubusercontent.com/11778454/99891112-43503080-2c1b-11eb-9445-e746a0d215b7.png)

(links to https://tools.ietf.org/html/rfc7009)

> > there is only 1 mention of "revoke" on page
> 
> yes, and that one mention links to the RFC you should have read? I don't see the issue
> 
> ![image](https://user-images.githubusercontent.com/11778454/99891112-43503080-2c1b-11eb-9445-e746a0d215b7.png)
> 
> (links to https://tools.ietf.org/html/rfc7009)

for new developers/developers inexperienced with OAuth2 the RFC spec is quite confusing. A small section (or any other info container) with the parameters and method to send would help.

If you come by this issue and are wondering what is the full API call to revoke the token, here it is:

```
POST https://discord.com/api/oauth2/token/revoke
Content-Type: application/x-www-form-urlencoded
data:
  client_id: <client_id>
  client_secret: <client_secret>
  token: <access_token>
```