Support Custom Scheme Redirect URIs in OAuth2

My case has only been tested with Android-compliant native URIs.

Android allows apps to define custom urls in the form of `fakeprotocol://normaluri` as their own to easily redirect from browsers to native apps.

OAuth2's [RFC8252](https://tools.ietf.org/html/rfc8252) specifies in [Section 4]() that:

> For authorizing users in native apps, the best current practice is to
   perform the OAuth authorization request in an external user-agent
   (typically the browser) rather than an embedded user-agent (such as
   one implemented with web-views).

This, following [Section 7](https://tools.ietf.org/html/rfc8252#section-7) can be achieved in three ways:

- Claimed "https" Scheme URI Redirection ([Section 7.2](https://tools.ietf.org/html/rfc8252#section-7.2))

This is an issue because on recent versions of Android the system will try to open any app that may support the url scheme, unless the developer pays for a webserver and implements [Android's website association](https://developer.android.com/training/app-links/verify-site-associations.html#web-assoc) which ensures the app will be verified as "official" by the system and will be launched automatically when receiving a browser redirect.
This may still not happen if the user decides to not launch the app and stay in the browser.

This solution is expensive for the developer and requires a considerable amount of effort for a single-time event.

- Loopback Interface Redirection ([Section 7.3]()https://tools.ietf.org/html/rfc8252#section-7.3))

This solves the cost problems of the issue mentioned above but opens a lot of security related issues, since every service will be able to access the local webserver and send (junk) data to it, or the port may be occupied by another running service, plus, this requires either the implementation of a webserver through a third party library, which increases the app size unnecessarily or through native APIs, which are known to be generally insecure and should be avoided due to their simplicity (plus, this can be much less secure than the discouraged WebView implementation).

- Private-Use URI Scheme Redirection ([Section 7.1](https://tools.ietf.org/html/rfc8252#section-7.1))

Android lets app define custom URIs (for example `market://detail?id=com.discord` opens the Play Store at Discord's app page) and following the [Deep Linking Android documentation](https://developer.android.com/training/app-links/deep-linking.html) the browser will have no choice other than to open the app unless more than one app handles the URI. This can easily be avoided by using standard practices such as using the package name as the URI's scheme (`discord://` or `com.example.app://` as explained in current Section's documentation).

As this Section specifies, the system (Android) will handle the request and launch the appropriate app once the OAuth2 server (Discord) redirects to the callback URI.

---

The issue is Discord does not allow to specify any URI that is not a valid website/web server URL (begins with `http://` or `https://` and has at least one period in it I believe is the minimal requirement). This forces Android developers that want to integrate Discord related features (bot management interface, "playing ..." status when in game, etc) to either pay for an online server that only manages logins, which happen once per app installation or resort to insecure or discouraged practises.

It would therefore be appreciated if Discord supported native URIs, as specified by [RFC8252 Section 7.1](https://tools.ietf.org/html/rfc8252#section-7.1) to allow a secure, guaranteed and official way to authenticate a user using the default WebBrowser (or [Chrome Custom Tabs](https://developer.chrome.com/multidevice/android/customtabs) to ensure a seamless transaction between the app and the Discord login/authorization page).

The only current methods you have for mobile apps is to use the authorization code grant with a server or use the implicit grant without a server (which does not support refreshing). In both of these methods you can use an in-app webview to grab the authorization code or access token off the redirect url.

It's worth noting that this is a "best practices" RFC, which is not an adopted standard nor is something we have to be in compliance with. Support for these new best practices may happen at some point in the future if they become adopted, but as of right now none of the upstream OAuth2 libraries we use support [PKCE](https://tools.ietf.org/html/rfc7636), which is necessary to move native clients off of using client secrets.

Hi, Is this something that is likely to be supported anytime soon? We would love to allow our users the option to Login using Discoord and be redirect straight back to our native apps.

Another developer checking asking if there are any plans to support this

GroupMe supports all of this...

At the moment it is not possible at all to launch Discord from the web on Android, but it's so simple to add a generic [intent-filter](https://developer.android.com/guide/components/intents-filters) and it would let people that make use of Discord Applications to redirect users back to the app.

Any progress on this? So many people use discord on mobile, it's very surprising this isn't implemented yet.

Yes. This is coming soon. No ETA - but it’s being worked on as part of a larger project. 

This is now deployed in the Dev Portal!

![image](https://user-images.githubusercontent.com/4193854/65723376-21810b00-e063-11e9-93e8-2c5682496794.png)

It's still fairly new, so if there are issues, please feel free to let us know here! I'll keep this issue open a bit to collect feedback/issues.

closing since this is implemented with PKCE

Can you link to the docs to do this for future googlablility 

> This is now deployed in the Dev Portal!
> 
> ![image](https://user-images.githubusercontent.com/4193854/65723376-21810b00-e063-11e9-93e8-2c5682496794.png)
> 
> It's still fairly new, so if there are issues, please feel free to let us know here! I'll keep this issue open a bit to collect feedback/issues.

can confirm that this isn't working. I am getting an invalid_grant error when trying to redirect to my native app from a webview.

@KevinEdry would you mind opening a separate issue for that error so we can debug in context?

#1296 @msciotti just opened a new issue.

I am building an app with Expo (react-native) and the deep linking URL looks like this:
`myapp:///path/to/redirect` with three slashes instead of two, as there is no host.

Unfortunately, this type of path is not accepted by the developer portal. Any chance to have support for it? :)



I’m not the most knowledgeable when it comes to mobile app development but is there a reason that is your path? <name>:// is a pretty standard formatting for protocols, be it http or custom Windows protocols or deep links. I don’t think we’d support that 

Discord also used three slashes (discord:///) when it had protocol urls (#1038)

I am not 100% sure why it is this way either, but there is [an explanation](https://github.com/expo/expo/issues/10012) given by the expo team.

From what I understand, it is to be standards-compliant by always including the host in the URI. When there is no host, there is no character between :// and /

Ah sure ok that actually makes good sense. Um I'm not sure if this is as easy as a regex check in the dev portal or might have to double check that our auth library accepts this but we can take a look.

Per [RFC3986](https://tools.ietf.org/html/rfc3986) a URI may have no authority or an authority that ends with empty path or forward slash. This will be addressed in the next API deploy.

@HellPie Hi I'm having the same problem, Do you find any solution for it?

trying to figure out if this is supported yet

it is, you can use custom protocols if you use pkce.